
$titulo: "Anton";
$text: "Roboto condensed";
$color: white;
$ali-text: center;
$titulo-size: 36px;
$texto-size: 18px;

.extensionTitulo{
    font-family: $titulo;
    font-size: $titulo-size;
    color: $color;
    text-align: $ali-text;
    padding-top: 20px;
}

.extensionParrafo{
    font-family: $text;
    color: $color;
    text-align: $ali-text;
    font-size: $texto-size;
}
@mixin fuenteh2 ($tamaño) {
    font-family: $text;
    color: $color;
    text-align: $ali-text;

}


body{
    padding: 0;
    background-color: black !important; 
}

nav{
    height: 100px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        padding-left: 30px;
    }
    .menu_items{
        display: flex;
        list-style: none;
        margin-right: 30px;
        
        li{
            border-radius: 3px;
            margin: 0 5px;
            
            a{
                padding: 7px 13px;
                text-decoration: none;
                font-size: 18px;
                font-family: "roboto condensed";
                display: block;
                color: white;
            }
        }
        li:hover{
            background-color: rgb(32, 32, 32);
            transition: .4s;
        }
    }
    span{
        margin-right: 30px;
        font-size: 25px;
        color: white;
        font-family: "roboto condensed";
        cursor: pointer;
        display: none;
    }
    .menu_items.show{
        top: 75px
    }
}
@media screen and (max-width: 900px){
    nav{
        height: 90px;
        span{
            display: inline-flex;
        }
        .menu_items{
            position: fixed;
            width: 100%;
            height: 100vh;
            background-color: black;
            top: -100vh;
            text-align: center;
            transition: all .4s;
            flex-direction: column;

            li{
                margin: 10px 0 10px 0;
                line-height: 10px;

                a{
                    font-size: 20px;
                    font-family: "roboto condensed";
                    color: white;
                    font-weight: bold;
                }
                a:hover{
                    color: rgb(194, 194, 194);
                }
            }
            li:hover{
                background: none;
            }
        }
    }
    span{
        padding: 35px;
    }
}
.titulo{
    @extend .extensionTitulo;}
.parrafo{
    @extend .extensionParrafo   }
.instalaciones{
    background-color: rgb(37, 37, 37);
    border: 5px solid black;
    border-radius: 10px;
        &__subtitulo{
        font-family: "roboto condensed";
        font-size: 24px;
        color: white;
        text-align: center;
        }
        &__texto{
            font-family: "roboto condensed";
            font-size: 18px;
            color: white;
            text-align: center;
        }
}


.boton{
    
        &__link{
            text-decoration: none;
            padding: 5px;
            font-family: "anton";
            font-size: 16px;
            color: #ffffff;
            background-color: #f5261f;
            border-radius: 6px;
            border: 2px solid #272727;
        }
        &__link:hover{
            background-color: rgb(27, 27, 27);
            padding-bottom: 20px;
            color: white;
        }
}

.tabla{
    padding: 20px;

    th{
        background-color: #4AFF91;
        font-family: "roboto condensed";
        text-align: center;
    }
    td{
        font-family: "roboto condensed";
        text-align: center;
    }
    .precio{
        background-color: red;
    }
    #presentacion{
        background-color: #272727;
        padding: 20px;
        max-width: 100%;
    }
    #planMensual{
        background-color: #AEFF45;
    }
    #planParejas{
        background-color: #FFD245;
    }
    #planEllas{
        background-color: #FE0098;
    }
    #loQuiero{
        background-color: #0b7685;
    }
    #loQuiero:hover{
        background-color: #05383f;
    }
    a{
        font-size: 18px;
        font-family: "roboto condensed";
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: white;
        text-decoration: none;
    }
}
.instalacionesTexto{
    padding: 20px;
    h2{
        font-size: 24px;
        color: white;
        font-family: "roboto condensed";
    }
    p{
        font-size: 18px;
        color: white;
        font-family: "roboto condensed";
    }
}
div{
    padding: 10px;
}
.contactoTexto{
    background-color: rgb(24, 24, 24);
    padding: 5px;
    border: 5px solid black;
    border-radius: 3px;
    h2{
        font-family: "roboto condensed";
        font-size: 24px;
        color: white;
        text-align: center; 
    }
    p{
        font-family: "roboto condensed";
        font-size: 18px;
        color: white;
        text-align: center;
    }
    a{
        text-decoration: none;
    }
}
.contactoTexto:hover{
    background-color: rgb(46, 46, 46);
    transition: .4s;
}
footer{
    background-color: rgb(27, 27, 27);
    .tituloFooter{
        font-size: 24px;
        color: white;
        font-family: "Roboto condensed";
    }
    .parrafoFooter{
        font-size: 18px;
        color: white;
        font-family: "Roboto condensed";
    }
}


